.App {
  text-align: center;
  margin:0px;
                padding:0px;
                font-family: 'Lato', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.process-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 250px;
  padding:25px;
  margin:0 auto;
  border-radius: 5px;

}

.process-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.card-container {
  padding: 2px 16px;
}
.process-cards{
    display: flex;
    flex-wrap:wrap;
    text-align: center;
    width:70%;
    margin:0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

            
            
            




            .head-section{
                text-align: center;
                margin:30px;
                margin-top:100px;
                height: 650px;
                padding:30px;
            }
            .head-section-title{
                font-family: 'Lato', sans-serif;
                font-size:100px;
            }
            .head-section-content{
                margin-top:90px; 
            }
            .btn-colorpri{
                background-color:#43D8C9;
                
            }



            .process-title{
                text-align: center;
            }
            .process-card {
                -webkit-box-shadow: 10px 10px 38px -22px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 10px 38px -22px rgba(0,0,0,0.75);
            box-shadow: 10px 10px 38px -22px rgba(0,0,0,0.75);
            transition: 0.3s;
            width: 250px;
            padding:25px;
            margin:0 auto;
            margin-bottom:20px;
            border-radius: 5px;
            border: 2px solid #43D8C9;

            }

            .process-card:hover {
            box-shadow: 0 8px 16px 0 rgba(67, 216, 201, 1);
            color:rgba(67, 216, 201, 1);
            }
            

            img {
            border-radius: 5px 5px 0 0;
            }

            .card-container {
            padding: 2px 16px;
            }
            .process-cards{
                display: flex;
                flex-wrap:wrap;
                text-align: center;
                width:70%;
                margin:0 auto;
 
            }
            .process-container{
                margin-top:30px;
                margin-bottom: 30px;
                text-align: center;
            }    
            .process-container>a{
                margin-top:30px;
                margin-bottom: 30px;
            }  
            .process-title{
                color:#100303;
            }
            .about-title{
                    text-align: center;
                    color:#100303;
                    margin-top:30px;
                    margin-bottom:25px;
                }
                .about-text{
                    text-align: center;
                    color:#100303;
                    margin-right:30px;
                    padding:0px 15% 0px 15%;
                }
                .about-qoute{
                    text-align: center;
                    font-size:30px;
                    color:#100303;
                    padding-bottom: 50px;
                }
                .about{
                -webkit-box-shadow: 4px 9px 74px -9px rgba(67,216,201,1);
                -moz-box-shadow: 4px 9px 74px -9px rgba(67,216,201,1);
                box-shadow: 4px 9px 74px -9px rgba(67,216,201,1);
                    margin-top:70px;
                    margin-bottom: 70px;
                    width:70%;
                    margin:0 auto;
                    
                }
                .accent-div{
                    background-color: #43D8C9;
                    width:auto;
                    height:40px;
                    position: relative;
                    z-index: -1;

                }


                .service-card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 60%;
        height:auto;
        margin:0 auto;
        border-radius: 5px;
        padding:25px;
        margin-bottom:30px;
        border-left: 40px solid #43D8C9;
        

        }

        .service-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-left: 80px solid #43D8C9;

        }


        .service-card-container {
        padding: 0px 70px 0px 70px;
        
        }
        .service-cards{
            text-align: center;
            margin:0 auto;
            
            
        }
        .service{
            margin-top:120px;
            margin-bottom:50px;

        }



        .footer{
                width:100%;
                background-color: #43D8C9;
                height:auto;
            }
            .contact-us-form{
                width:600px;
                padding:30px;
                padding-bottom:0px;
                margin:0 auto;
            }
            .social-media-handle{
                display: flex;
                justify-content: space-between;
                height:30px;
                margin:auto;
                /* background-color:grey; */
                width:220px;
                padding-bottom: 40px;
            }
            .social-media-handle img{
                width:30px;
            }


            .call-to-action{
                border-radius: 50%;
                height:75px;
                width:75px;
                position: fixed;
                left:90%;
                top:80%;
                background-color:#43D8C9; 
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                -webkit-box-shadow: 4px 10px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 4px 10px 5px 0px rgba(0,0,0,0.2);
box-shadow: 4px 10px 5px 0px rgba(0,0,0,0.2);
            transition: 0.3s;
            }
            .call-to-action:hover{
                -webkit-box-shadow: 4px 8px 5px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 4px 8px 5px 0px rgba(0,0,0,0.3);
box-shadow: 4px 8px 5px 0px rgba(0,0,0,0.3);
                width:80px;
                height:80px;
            }
            .call-to-action:hover img{
                margin-top:10px; 
            }
            .call-to-action img{
                width:60px;
                height:60px;
                margin-top:8px;
            }

            .topnav {
                padding:10px;
                width:100%;
                background-color:#43D8C9;
                overflow: hidden;
                position: fixed;
                top:0;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* .topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
} */

.topnav .icon {
  display: none;
}


@media screen and (max-width: 800px) {

    .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive {position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

            @media only screen and (max-width: 800px) {
                .head-section-title{
                font-family: 'Lato', sans-serif;
                font-size:50px;
            }
            .service-card-container {
             padding:0;
            }
            .service-card{
                height:auto;
            }
            .about-text
            {
                padding:0px;
                margin-left:20px;
                
            }
            .contact-us-form{
                width:90%;
            }
            .service-card:hover {
        
        border-left: 40px solid #43D8C9;
        }


                }
                @media only screen and (max-width: 500px) {
                .head-section-title{
                font-family: 'Lato', sans-serif;
                font-size:40px;
            }
            /* .service-card-container {
             padding:0;
            }
            .service-card{
                height:300px;
            }
            .about-text
            {
                padding:0px;
                margin-left:20px;
                
            }
            .contact-us-form{
                width:500px;
            }
            .service-card:hover {
        
        border-left: 40px solid #43D8C9;
        } */



                }

        